/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set basic font styles */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f6f6f6;
}

/* Style the title */
h1 {
  margin: 2rem auto;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Add some padding to the top and bottom of the title */
h1 {
  padding: 2rem 0;
}

/* Style the canvas container */
#canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: calc(100vh - 180px); */
  margin: 0 auto;
  max-width: 2000px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


/* Center the canvas */
canvas {
  display: block;
  margin: 0 auto;
}

/* Style the project description */
p {
  margin: 2rem auto;
  max-width: 1200px;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
  padding: 2rem;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


/* Add a border around the canvas */
canvas {
  border: 5px solid #333;
  border-radius: 20px;
}

/* Add a hover effect to the canvas */
canvas:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* Style the link to the code */
a {
  display: inline-block;
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: #333;
  border: none;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease-in-out;
  font-size: 1.2rem;
  border-radius: 4px;
}

a:hover {
  background-color: #21222d;
}

/* Add animation background */
body:before {
  content: "";
  position: fixed;
  z-index: -3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #00ffff 0%, #6A5ACD 100%);
  animation: animationBackground 20s ease infinite alternate;
}

@keyframes animationBackground {
  0% {
    transform: skewY(-30deg);
  }
  50% {
    transform: skewY(30deg);
  }
  100% {
    transform: skewY(-30deg);

  }
}
